<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ProductCatalogSuite" verbose="1">

    <!-- <test name="AssessmentIntelligenceAPI Tests">
        <classes>
           <class name="com.transflower.tflassessment.AssessmentIntelligenceAPITest"/>
        </classes>
    </test> -->
    <!-- <test name="AssessmentAPI">
        <classes>
            <class name="com.transflower.tflassessment.AssessmentAPITest"/>
        </classes>
        </test> -->
        <!-- <test name="CandidateAnswerAPI">
        <classes>
            <class name="com.transflower.tflassessment.CandidateAnswerAPITest"/>
        </classes>
        </test> -->
        <test name="ConceptAPITest">
        <classes>
            <class name="com.transflower.tflassessment.ConceptAPITest"/>
        </classes>
        </test> 
         <test name="QuestionBankAPITest">
        <classes>
            <class name="com.transflower.tflassessment.QuestionBankAPITest"/>
        </classes>
        </test>

     
     
    </suite>
